* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #14b8a6, #0f766e);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Wrapper */
.auth-wrapper {
  width: 100%;
  max-width: 1100px;
  padding: 20px;
}

/* Card */
.auth-card {
  display: flex;
  background: #fff;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 30px 80px rgba(0,0,0,0.25);
}

/* LEFT */
.auth-left {
  flex: 1;
  background: linear-gradient(135deg, #0d9488, #14b8a6);
  color: #fff;
  padding: 60px 40px;
}

.auth-left h1 {
  line-height: 1.2;
  margin-bottom: 16px;
}

.auth-left span {
  color: #facc15;
  font-weight: 700;
}


.auth-left p {
  max-width: 420px;
  margin-bottom: 180px;
}



.auth-left img {
  width: 100%;
  max-width: 320px;
}

/* RIGHT */
.auth-right {
  flex: 1;
  padding: 60px 40px;
}

.auth-right h2 {
  margin-bottom: 20px;
  color: #111827;
}

/* Forms */
.form-box {
  display: none;
}

.form-box.active {
  display: block;
}

input, select {
  width: 100%;
  padding: 14px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  font-size: 14px;
}

input:focus, select:focus {
  border-color: #14b8a6;
  outline: none;
}

/* Button */
button {
  width: 100%;
  padding: 14px;
  background: #14b8a6;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 10px 25px rgba(20,184,166,0.35);

}

button:hover {
   transform: translateY(-2px);
}

/* Links */
p {
  margin-top: 15px;
  font-size: 14px;
}

a {
  color: #14b8a6;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.forgot {
  display: block;
  text-align: right;
  margin-bottom: 15px;
}

/* ID Proof */
.id-proof {
  display: none;
  margin-bottom: 10px;
}
.auth-left {
  position: relative;
  overflow: hidden;
}

.student-img {
  position: absolute;
  bottom: 0;
  right: 80px;

  width: 320px;
  max-width: 65%;
  height: auto;

  pointer-events: none;
  user-select: none;

  filter: drop-shadow(0 20px 30px rgba(0,0,0,0.15));
}



.auth-card {
  animation: fadeUp 0.6s ease-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 900px) {
  .auth-left {
    display: none;
  }

  .auth-card {
    width: 100%;
  }
}
.form-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.form-logo img {
  height: 36px;
  width: auto;
}

.form-logo span {
  font-size: 30px;
  font-weight: 600;
  color: #14b8a6; /* match your green theme */
}
